*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: white;
}

body {
  padding: 0; /* removes border so background stretches to whole area. */
  margin: 0;
  background: linear-gradient(90deg, #541B96, #007BFF)
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 606px;
  height:606px;
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-image: url(/images/mole1.png);
  background-size: cover;
}
   